:root {
  --primary-dark: #333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
  --number-col-row: 4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "drawing"
    "customizaton";
  background-color: #ededed;
}

.drawing {
  grid-area: drawing;
}

.drawing__name {
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.drawing__board {
  display: grid;
  grid-template-columns: repeat(var(--number-col-row), 1fr);
  grid-template-rows: repeat(var(--number-col-row), 1fr);
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
  /* border: 1px solid var(--primary-dark); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.drawing__board {
  background-color: white;
}

.customization {
  grid-area: customizaton;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 25px;
}

.customization__color {
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  background-color: var(--primary-dark);
}

.customization__color::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
  padding: 0;
}
.customization__color::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 100%;
  padding: 0;
}

.btn {
  width: 50vw;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid var(--primary-dark);
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.active {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.customization__range-container {
  font-size: 1.4rem;
  text-align: center;
}

.customization__range {
  -webkit-appearance: none !important;
  background-color: var(--secondary-light);
  border: 1px solid var(--primary-dark);
  border-radius: 15px;
  height: 10px;
  width: 50vw;
}

.customization__range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: var(--primary-dark);
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.footer {
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
}

.footer a {
  list-style: none;
  text-decoration: none;
  color: var(--primary-dark);
}

@media (orientation: landscape) {
  body {
    grid-template-areas: "customizaton drawing .";
    margin-top: 100px;
  }

  .drawing__board {
    justify-content: center;
    width: 35vw;
    height: 35vw;
  }

  .customization {
    margin: auto 0;
  }

  .customization__color {
    width: 70px;
    height: 70px;
    transition: 0.2s;
  }

  .customization__color:hover {
    scale: 1.1;
  }

  .btn {
    width: 15vw;
    padding: 15px;
    transition: 0.2s;
  }

  .customization__range {
    -webkit-appearance: none !important;
    background-color: var(--secondary-light);
    border: 1px solid var(--primary-dark);
    border-radius: 15px;
    height: 10px;
    width: 15vw;
  }

  .btn:hover {
    scale: 1.1;
  }

  .active {
    background-color: var(--primary-dark);
    color: var(--primary-light);
  }
} ;
